##################################
# .NET / C#
##################################
bin/
obj/
out/

##################################
# Visual Studio
##################################
.vs/
*.user
*.userosscache
*.suo
*.cache
*.docstates
.vSCode/

##################################
# Rider / JetBrains
##################################
.idea/
*.sln.iml

##################################
# VS Code
##################################
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Logs
##################################
*.log

##################################
# Test results / Coverage
##################################
TestResults/
coverage/
*.coverage
*.coveragexml

##################################
# Build artifacts
##################################
*.dll
*.exe
*.pdb

##################################
# NuGet
##################################
*.nupkg
*.snupkg
.nuget/

##################################
# Docker
##################################
**/docker-compose.override.yml

##################################
# Environment / Secrets
##################################
appsettings.Development.json
appsettings.Production.json
*.env

##################################
# HTTP files
##################################
*.http

##################################
# Publish
##################################
publish/
